$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

// scss: mixins
@mixin fullWidthTable {
  display: table;
  width: 100%;
}

@mixin tableCell {
  display: table-cell;
  vertical-align: top;
}
//

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}


/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  .carousel {
    min-height: 500px;
    margin: 20px auto;
    width: 1000px;
  }

  .productsPageLayout {
    @include fullWidthTable();
    min-height: 550px;
  }

  .productsPageLayout > .leftColumn {
    @include tableCell();
    width: 200px;
    padding: 20px 10px;
  }

  .productsPageLayout > .rightColumn {
    @include tableCell();
    padding: 20px 10px;
    border-left: 1px solid #ebebeb;
  }

  .container {
    width: 100%;
  }

  /*
      UI-GRID
   */

  .ui-grid {
    border: none;
  }

  .ui-grid-top-panel {
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #F1F5FC), color-stop(1, #ffffff));
  }

  .ui-grid .ui-grid-header-cell-row {
    height: 60px;
  }

  .ui-grid .ui-grid-header-cell {
    vertical-align: middle;
    border: none;
    padding: 5px;
  }

  .ui-grid .ui-grid-header-cell .ui-grid-column-menu-button {
    top: 15px;
  }

  .ui-grid .ui-grid-header-cell .ui-grid-column-menu-button-last-col {
    margin-right: 0;
  }

  .ui-grid .ui-grid-row {
    height: 40px !important;
    cursor: pointer;
  }

  .ui-grid .ui-grid-row .ui-grid-cell {
    background-color: transparent;
    vertical-align: middle;
    border: none;
    padding: 5px 5px;
    height: 40px;
  }

  .ui-grid .ui-grid-cell .ui-grid-cell-contents {
    height: 35px;
  }

  .ui-grid .ui-grid-row:nth-child(even) {
    background-color: #F8F7FF;
  }

  .ui-grid .ui-grid-row:nth-child(odd) {
    background-color: #fff;
  }

  .ui-grid .ui-grid-row:hover {
    background-color: #b2d2ff !important;
  }

  .nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #337ab7;
    background-color: #fff;
  }

  .ui-grid .ui-grid-cell input {
    padding: 5px;
    border-radius: 2pt;
  }
}


