<div class="productsPageLayout">
  <aside class="leftColumn">
    <ul class="nav nav-pills nav-stacked">
      <li role="presentation">
        <a href="" ng-click="loadAllProducts()" ng-class="{active:isActive()}" data-toggle="pill">All Products</a>
      </li>
      <li role="presentation" ng-repeat="category in categories">
        <a href="" ng-click="loadProductsByCategory('{{category.id}}')" data-toggle="pill">{{category.name}}</a>
      </li>
    </ul>
  </aside>
  <div class="rightColumn">
    <div class="gridStyle" ui-grid="gridOptions" ui-grid-edit></div>
  </div>
</div>


